<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlternativePopupsClicks</key>
	<array>
		<string>Double-Click</string>
		<string>Drag</string>
		<string>Control-Click</string>
	</array>
	<key>AvailablePopupsClicks</key>
	<array>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Triple-Click</string>
		<string>Drag</string>
		<string>Shift-Click</string>
		<string>Shift-Drag</string>
		<string>Control-Click</string>
		<string>Control-Drag</string>
		<string>Option-Click</string>
		<string>Option-Drag</string>
		<string>Command-Click</string>
		<string>Command-Drag</string>
		<string>Click-With-Copy</string>
		<string>Click-With-Paste</string>
		<string>Double-Click-With-Copy</string>
		<string>Double-Click-With-Paste</string>
		<string>Triple-Click-With-Copy</string>
		<string>Triple-Click-With-Paste</string>
		<string>Drag-With-Copy</string>
		<string>Drag-With-Paste</string>
	</array>
	<key>CommandPopupsClicks</key>
	<array>
		<string>Command-Drag</string>
		<string>Command-Click</string>
	</array>
	<key>ControlPopupsClicks</key>
	<array>
		<string>Control-Drag</string>
		<string>Control-Click</string>
	</array>
	<key>DefaultPopupsClicks</key>
	<array>
		<string>Double-Click</string>
		<string>Drag</string>
		<string>Control-Click</string>
	</array>
	<key>DisplayIcons</key>
	<dict>
		<key>Command</key>
		<string>Command-Big</string>
		<key>Control</key>
		<string>Control-Big</string>
		<key>Denied</key>
		<string>NoEntry</string>
		<key>Drag-Toggle</key>
		<string>Drag</string>
		<key>HeldDrag-Toggle</key>
		<string>HeldDrag</string>
		<key>FnEquiv</key>
		<string>Popup</string>
		<key>Option</key>
		<string>Option-Big</string>
		<key>Shift</key>
		<string>Shift-Big</string>
		<key>Lock</key>
		<string>Repeat</string>
		<key>ToggleOption</key>
		<string>Option-Big</string>
		<key>ToggleCommand</key>
		<string>Command-Big</string>
		<key>ToggleShift</key>
		<string>Shift-Big</string>
		<key>ToggleControl</key>
		<string>Control-Big</string>
	</dict>
	<key>DisplayNames</key>
	<dict>
		<key>Click</key>
		<string>Single click</string>
		<key>Click-With-Copy</key>
		<string>Click and Copy</string>
		<key>Click-With-Cut</key>
		<string>Click and Cut</string>
		<key>Click-With-Paste</key>
		<string>Click and Paste</string>
		<key>Control-Click</key>
		<string>Control-click</string>
		<key>Denied</key>
		<string>No click</string>
		<key>Double-Click</key>
		<string>Double click</string>
		<key>Double-Click-With-Copy</key>
		<string>Double click and Copy</string>
		<key>Double-Click-With-Cut</key>
		<string>Double click and Cut</string>
		<key>Double-Click-With-Paste</key>
		<string>Double click and Paste</string>
		<key>Drag</key>
		<string>Drag</string>
		<key>Drag-Toggle</key>
		<string>Drag</string>
		<key>HeldDrag-Toggle</key>
		<string>Drag and hold</string>
		<key>Drag-With-Copy</key>
		<string>Drag and Copy</string>
		<key>Drag-With-Cut</key>
		<string>Drag and Cut</string>
		<key>Drag-With-Paste</key>
		<string>Drag and Paste</string>
		<key>FnEquiv</key>
		<string>Show pop-up</string>
		<key>Lock</key>
		<string>Repeat on/off</string>
		<key>Mouse-Up</key>
		<string>Mouse up</string>
		<key>No-Click</key>
		<string>No-Click</string>
		<key>On-Off</key>
		<string>DwellClick on/off</string>
		<key>Popup</key>
		<string>Show pop-up</string>
		<key>Release</key>
		<string>Release drag</string>
		<key>Triple-Click</key>
		<string>Triple click</string>
		<key>Triple-Click-With-Copy</key>
		<string>Triple click and Copy</string>
		<key>Triple-Click-With-Cut</key>
		<string>Triple click and Cut</string>
		<key>Triple-Click-With-Paste</key>
		<string>Triple click and Paste</string>
	</dict>
	<key>ExtraShortcutsList</key>
	<array>
		<string>Option-Click</string>
		<string>Shift-Click</string>
		<string>Command-Click</string>
		<string>Control-Drag</string>
		<string>Option-Drag</string>
		<string>Shift-Drag</string>
		<string>Command-Drag</string>
		<string>Click-With-Copy</string>
		<string>Click-With-Paste</string>
		<string>Double-Click-With-Copy</string>
		<string>Double-Click-With-Paste</string>
		<string>Drag-With-Copy</string>
		<string>Drag-With-Paste</string>
		<string>Triple-Click</string>
		<string>Triple-Click-With-Copy</string>
		<string>Triple-Click-With-Paste</string>
	</array>
	<key>MouseMovingApps</key>
	<array>
		<string>com.dragon.dictate</string>
		<string>com.oldjewel.lazymouse</string>
	</array>
	<key>OptionPopupsClicks</key>
	<array>
		<string>Option-Drag</string>
		<string>Option-Click</string>
	</array>
	<key>ResizeCursorsSFH</key>
	<array>
		<integer>3064706476</integer>
		<integer>2893008966</integer>
		<integer>3734070125</integer>
		<integer>769039544</integer>
		<integer>2295757777</integer>
		<integer>1290468483</integer>
		<integer>3019241958</integer>
		<integer>2090590866</integer>
		<integer>143290896</integer>
		<integer>1945164266</integer>
		<integer>2899101375</integer>
		<integer>1309091554</integer>
		<integer>1865446052</integer>
		<integer>737701471</integer>
		<integer>3636196515</integer>
		<integer>158488273</integer>
		<integer>4173977126</integer>
		<integer>1692721500</integer>
		<integer>245059770</integer>
		<integer>3894980825</integer>
		<integer>2578028227</integer>
		<integer>466381656</integer>
		<integer>2347991591</integer>
		<integer>1173964249</integer>
		<integer>794733887</integer>
		<integer>2389535872</integer>
		<integer>3727803422</integer>
		<integer>1529095681</integer>
		<integer>1910872370</integer>
		<integer>2173554462</integer>
		<integer>1281552818</integer>
		<integer>1627574546</integer>
		<integer>3037780629</integer>
		<integer>1745800971</integer>
		<integer>2085827608</integer>
		<integer>4132051958</integer>
		<integer>794733887</integer>
		<integer>2641875268</integer>
		<integer>75919234</integer>
		<integer>3183108583</integer>
		<integer>3386183646</integer>
		<integer>4235274540</integer>
		<integer>3037780629</integer>
		<integer>3605733642</integer>
		<integer>1460567246</integer>
		<integer>1783012328</integer>
		<integer>2859310591</integer>
		<integer>3738631147</integer>
		<integer>2783988303</integer>
		<integer>3456600578</integer>
		<integer>4120400223</integer>
		<integer>2535622311</integer>
		<integer>2180304651</integer>
		<integer>3201776963</integer>
		<integer>3453837853</integer>
		<integer>812112155</integer>
		<integer>2687527807</integer>
		<integer>2847333493</integer>
		<integer>2017337364</integer>
		<integer>3059718975</integer>
	</array>
	<key>ScriptableActions</key>
	<array>
		<string>No-Click</string>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Triple-Click</string>
		<string>Drag</string>
		<string>Control-Click</string>
		<string>Option-Click</string>
		<string>Shift-Click</string>
		<string>Command-Click</string>
		<string>Control-Drag</string>
		<string>Option-Drag</string>
		<string>Shift-Drag</string>
		<string>Command-Drag</string>
		<string>Click-With-Copy</string>
		<string>Click-With-Paste</string>
		<string>Double-Click-With-Copy</string>
		<string>Double-Click-With-Paste</string>
		<string>Triple-Click-With-Copy</string>
		<string>Triple-Click-With-Paste</string>
		<string>Drag-With-Copy</string>
		<string>Drag-With-Paste</string>
		<string>Mouse-Up</string>
		<string>Popup</string>
	</array>
	<key>ShiftPopupsClicks</key>
	<array>
		<string>Shift-Drag</string>
		<string>Shift-Click</string>
	</array>
	<key>ShortcutsList</key>
	<array>
		<string>On-Off</string>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Control-Click</string>
		<string>Drag-Toggle</string>
		<string>HeldDrag-Toggle</string>
		<string>FnEquiv</string>
	</array>
	<key>DefaultPanelClicks</key>
	<array>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Drag</string>
		<string>ToggleControl</string>
		<string>ToggleOption</string>
		<string>ToggleShift</string>
		<string>ToggleCommand</string>
	</array>
</dict>
</plist>
