<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultPopupsClicks</key>
	<array>
		<string>Double-Click</string>
		<string>Drag</string>
		<string>Control-Click</string>
	</array>
	<key>DisplayIcons</key>
	<dict>
		<key>Command</key>
		<string>Command-Big</string>
		<key>Control</key>
		<string>Control-Big</string>
		<key>Denied</key>
		<string>NoEntry</string>
		<key>Drag-Toggle</key>
		<string>Drag</string>
		<key>HeldDrag-Toggle</key>
		<string>HeldDrag</string>
		<key>FnEquiv</key>
		<string>Popup</string>
		<key>Option</key>
		<string>Option-Big</string>
		<key>Shift</key>
		<string>Shift-Big</string>
		<key>Lock</key>
		<string>Repeat</string>
		<key>ToggleOption</key>
		<string>Option-Big</string>
		<key>ToggleCommand</key>
		<string>Command-Big</string>
		<key>ToggleShift</key>
		<string>Shift-Big</string>
		<key>ToggleControl</key>
		<string>Control-Big</string>
	</dict>
	<key>DisplayNames</key>
	<dict>
		<key>Click</key>
		<string>Single-click</string>
		<key>Click-With-Copy</key>
		<string>Single-click and Copy</string>
		<key>Click-With-Cut</key>
		<string>Single-click and Cut</string>
		<key>Click-With-Paste</key>
		<string>Single-click and Paste</string>
		<key>Command-Click</key>
		<string>Command-click</string>
		<key>Control-Click</key>
		<string>Control-click</string>
		<key>Denied</key>
		<string>No-click</string>
		<key>Double-Click</key>
		<string>Double-click</string>
		<key>Double-Click-With-Copy</key>
		<string>Double-click and Copy</string>
		<key>Double-Click-With-Cut</key>
		<string>Double-click and Cut</string>
		<key>Double-Click-With-Paste</key>
		<string>Double-click and Paste</string>
		<key>Drag</key>
		<string>Drag</string>
		<key>Drag-Toggle</key>
		<string>Drag</string>
		<key>HeldDrag-Toggle</key>
		<string>Drag and hold</string>
		<key>Drag-With-Copy</key>
		<string>Drag and Copy</string>
		<key>Drag-With-Cut</key>
		<string>Drag and Cut</string>
		<key>Drag-With-Paste</key>
		<string>Drag and Paste</string>
		<key>FnEquiv</key>
		<string>Show popup</string>
		<key>Lock</key>
		<string>Repeat on/off</string>
		<key>Mouse-Up</key>
		<string>Mouse up</string>
		<key>No-Click</key>
		<string>No-click</string>
		<key>On-Off</key>
		<string>DwellClick on/off</string>
		<key>Option-Click</key>
		<string>Option-click</string>
		<key>Popup</key>
		<string>Show popup</string>
		<key>Release</key>
		<string>Release drag</string>
		<key>Shift-Click</key>
		<string>Shift-click</string>
		<key>Triple-Click</key>
		<string>Triple-click</string>
		<key>Triple-Click-With-Copy</key>
		<string>Triple-click and Copy</string>
		<key>Triple-Click-With-Cut</key>
		<string>Triple-click and Cut</string>
		<key>Triple-Click-With-Paste</key>
		<string>Triple-click and Paste</string>
	</dict>
	<key>ExtraShortcutsList</key>
	<array>
		<string>Option-Click</string>
		<string>Shift-Click</string>
		<string>Command-Click</string>
		<string>Control-Drag</string>
		<string>Option-Drag</string>
		<string>Shift-Drag</string>
		<string>Command-Drag</string>
		<string>Click-With-Copy</string>
		<string>Click-With-Paste</string>
		<string>Double-Click-With-Copy</string>
		<string>Double-Click-With-Paste</string>
		<string>Drag-With-Copy</string>
		<string>Drag-With-Paste</string>
		<string>Triple-Click</string>
		<string>Triple-Click-With-Copy</string>
		<string>Triple-Click-With-Paste</string>
	</array>
	<key>MouseMovingApps</key>
	<array>
		<string>com.dragon.dictate</string>
		<string>com.oldjewel.lazymouse</string>
	</array>
	<key>CursorClassifications</key>
	<dict/>
	<key>ScriptableActions</key>
	<array>
		<string>No-Click</string>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Triple-Click</string>
		<string>Drag</string>
		<string>Control-Click</string>
		<string>Option-Click</string>
		<string>Shift-Click</string>
		<string>Command-Click</string>
		<string>Control-Drag</string>
		<string>Option-Drag</string>
		<string>Shift-Drag</string>
		<string>Command-Drag</string>
		<string>Click-With-Copy</string>
		<string>Click-With-Paste</string>
		<string>Double-Click-With-Copy</string>
		<string>Double-Click-With-Paste</string>
		<string>Triple-Click-With-Copy</string>
		<string>Triple-Click-With-Paste</string>
		<string>Drag-With-Copy</string>
		<string>Drag-With-Paste</string>
		<string>Mouse-Up</string>
		<string>Popup</string>
	</array>
	<key>ShortcutsList</key>
	<array>
		<string>On-Off</string>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Control-Click</string>
		<string>Drag-Toggle</string>
		<string>HeldDrag-Toggle</string>
		<string>FnEquiv</string>
	</array>
	<key>DefaultPanelClicks</key>
	<array>
		<string>Click</string>
		<string>Double-Click</string>
		<string>Drag</string>
		<string>ToggleControl</string>
		<string>ToggleOption</string>
		<string>ToggleShift</string>
		<string>ToggleCommand</string>
	</array>
</dict>
</plist>
