<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dwellclicklicense</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DwellClick License Key</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pilotmoon.dwellclick.license</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>DwellClickIconR.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>da</string>
		<string>de</string>
		<string>es</string>
		<string>fr</string>
		<string>it</string>
		<string>ja</string>
		<string>nl</string>
		<string>no</string>
		<string>ru</string>
		<string>sv</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUILDSCRIPTS_VERSION_STRING)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.pilotmoon.DwellClick-urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dwellclick</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(BUILDSCRIPTS_VERSION_NUM)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(BUILDSCRIPTS_MINIMUM_SYSTEM_VERSION)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NMStatusItemDelegateClass</key>
	<string>DCStatusItemDelegate</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>$(BUILDSCRIPTS_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>DCApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>DwellClick.sdef</string>
	<key>PilotmoonReleaseChannel</key>
	<string>$(BUILDSCRIPTS_RELEASE_CHANNEL)</string>
	<key>PilotmoonReleaseEdition</key>
	<string>$(BUILDSCRIPTS_RELEASE_EDITION)</string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://softwareupdate.pilotmoon.com/update/dwellclick/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>heX4o1mDXEKmelow1XbATuXM5amRCWGhQMFR6cnHy/k=</string>
	<key>SUScheduledCheckInterval</key>
	<string>86400</string>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DwellClick License Key</string>
			<key>UTTypeIdentifier</key>
			<string>com.pilotmoon.dwellclick.license</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dwellclicklicense</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
